*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    cursor: none;
}

:root{
    --bg-light-skills: rgba(0, 128, 0, 0.658);
    --bg-dark-skills: rgb(0, 128, 0);
}

.cursor{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    background-color: #FFF;
    z-index: 99;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand{
    animation: cursorAnim2 .5s forwards;
    border: 1px solid red;
}

a{
    text-decoration: none;
    color: black;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    background: rgb(248, 145, 85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: #FFF;
    font-size: 3rem;
}

.hide{
    background: black;
    overflow: hidden;
    padding: 1rem;
}

.hide span{
    display: inline-block;
    transform: translateY(140%);
}

.landing{
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
   
}

.nav-links-top-left{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-top-right{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

ul .box-top-left{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: inline-block;
    background: rgba(0, 0, 255, 0.658);
    height: 1vw;
    z-index: -1;
}

ul .box-top-right{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: inline-block;
    background: rgba(0, 128, 0, 0.658);
    height: 1vw;
    z-index: -1;
}

ul .box-bottom-left{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: inline-block;
    background: rgba(255, 255, 0, 0.658);
    height: 1vw;
    z-index: -1;
}

ul .box-bottom-right{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: inline-block;
    background: rgba(255, 166, 0, 0.658);
    height: 1vw;
    z-index: -1;
}

.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
    font-size: 5rem;
    font-weight: bold;
}

.test h2{
    
    width: 90%;
    text-align: center;
}

h2 .box{
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: rgba(255, 0, 0, 0.658);
    height: 1vw;
    z-index: -1;
}

.magic-mouse{
   position: absolute;
   bottom: 0;
   right: 50%;
   transform: translateX(50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 99;
}

#about{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #FFF;
}

.test-box{
    display: flex;
    flex-direction: row-reverse;
}

#about h2{
    width: 100%;
    font-size: 10rem;
    padding: 1.5rem;
    letter-spacing: 20px;
}

.text-about-me{
    font-size: 1.5rem;
    padding: 2rem 5rem 2rem 0rem;
    text-align: justify;
}

#skills{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#skills h2{
    width: 100vw;
    font-size: 9rem;
    padding: 1.5rem;
    letter-spacing: 20px;
    text-align: center;
    color: #FFF;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#projects{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#projects h2{
    text-align: right;
    font-size: 9rem;
    padding: 1.5rem;
    letter-spacing: 20px;
    color:  rgba(255, 255, 0, 0.658);
    text-shadow: 5px 10px red;
}









