*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    cursor: none;
}

:root{
    --bg-light-skills: rgba(0, 128, 0, 0.658);
    --bg-dark-skills: rgb(0, 128, 0);
    --main-blue: rgba(0, 0, 255, 0.658);
    --main-yellow: rgba(255, 255, 0, 0.658);
    --main-orange: rgba(255, 166, 0, 0.658);
    --main-red:  rgba(255, 0, 0, 0.658);
}

.cursor{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
}

@keyframes cursorAnim2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.link-grow{
    transform: scale(2);
    background: lightblue;
}

.expand{
    animation: cursorAnim2 .5s forwards;
    border: 1px solid rgba(255, 0, 0, 0.658);
}

a{
    text-decoration: none;
    color: black;
    cursor: none;
}

.paper-plane{
    height: 100px;
    position: absolute;
    z-index: 99;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-container{
    color: #FFF;
    font-size: 3rem;
}

.hide{
    background: black;
    overflow: hidden;
    padding: 1rem;
}

.hide span{
    display: inline-block;
    transform: translateY(140%);
}

.landing{
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
   
}

.nav-links-top-left{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-top-right{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 3.5rem;
    list-style: none;
    z-index: 99;
}

.nav-links-bottom-left:hover, .nav-links-top-left:hover{
    transform: skew(-30deg);
}

.nav-links-bottom-right:hover, .nav-links-top-right:hover{
    transform: skew(30deg);
}

ul .box-top-left{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: inline-block;
    background: rgba(0, 0, 255, 0.658);
    height: 1vw;
}

ul .box-top-right{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: inline-block;
    background: rgba(0, 128, 0, 0.658);
    height: 1vw;
}

ul .box-bottom-left{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: inline-block;
    background: rgba(255, 255, 0, 0.658);
    height: 1vw;
}

ul .box-bottom-right{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: inline-block;
    background: rgba(255, 166, 0, 0.658);
    height: 1vw;
}

.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
    font-size: 5rem;
    font-weight: bold;
}

.test h2{
    width: 90%;
    text-align: center;
}

h2 .box{
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: rgba(255, 0, 0, 0.658);
    height: 1vw;
    z-index: -1;
}

.magic-mouse{
   position: absolute;
   bottom: 0;
   right: 50%;
   transform: translateX(50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 99;
}

#about{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #FFF;
}

.test-box{
    display: flex;
    flex-direction: row-reverse;
}

#about h2{
    width: 100%;
    font-size: 10rem;
    padding: 1.5rem;
    letter-spacing: 20px;
}

.text-about-me{
    font-size: 1.5rem;
    padding: 2rem 5rem 2rem 0rem;
    text-align: justify;
}

#skills{
    height: 100vh;
    width: 100%;
    position: absolute;
}

#skills h2{
    width: 100vw;
    font-size: 9rem;
    padding: 1.5rem;
    letter-spacing: 20px;
    text-align: left;
    color: #FFF;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#projects{
    height: 100vh;
    width: 100%;
    position: absolute;
}

#projects h2{
    text-align: right;
    font-size: 9rem;
    padding: 1.5rem;
    letter-spacing: 20px;
    color:  var(--bg-dark-skills);
}


#projects-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#projects-container .project-container{
    margin: 2rem;
    height: 60vh;
    width: 20%;
    padding: 1rem;
    border: 2px solid green;
    text-align: center;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.content{
    padding-bottom: 2rem;
    border-bottom: 2px solid green;
}

.numbers{
    display: block;
    font-size: 10rem;
    font-weight: bold;
    transition: all 2s linear;
    transform: rotateZ(180deg);
}

.first-number{
    color: var(--main-red);
}

.scnd-number{
    color: var(--main-orange);
}

.third-number{
    color: var(--main-yellow);
}

.number{
    display: block;
    font-size: 10rem;
    font-weight: bold;
    transition: all 2s linear;
    transform: rotateY(180deg);
    color: var(--main-blue);
}

#contact{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact h2{
    font-size: 8rem;
    text-align: left;
}

.form{
    display: flex;
    flex-direction: column;
}

.google-map{
    margin-right: 5rem;
    border: 3px solid black;
}

input{
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    width: 90%;
    border-bottom: 3px solid black;
    background: orange;
    font-size: 2rem;
}

input::placeholder{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

textarea{
    border: 3px solid black;
    background: orange;
    font-size: 2rem;
}

textarea::placeholder{
    color: #FFF;
    font-family: 'Poppins', sans-serif;;
}

button{
    height: 5vh;
    width: 80%;
    background: orange;
    border: 3px solid black;
    color: #FFF;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}